/* css reset*/
*{
	/*Removes default pad and marg*/
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*to vavoid overflow */
	font-family: 'Roboto', sans-serif;
}

body{
	background: #1F6B76
}

.wrapper{
	width: 700px;
	margin: 0 auto;
	background: lightgray;
	margin-top: 50px;
	box-shadow: 5px 5px 4px #000;
}


header{
	background: #09c;
	height: 70px;
	color: #fff;
	text-align: center;
	line-height: 70px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Anton', sans-serif;

}

footer{
	font-size: 14px;
	height: 70px;
	color: #fff;
	background: #aaa;
	text-align: center;
	line-height: 70px;
}

form{
	text-align: right;
	padding: 10px 20px 20px;
}

main{
	padding: 10px;
}

h3{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-size: 22px;

}

/*------------------------------------------Content*/

.btn{
	border: none;
	padding: 15px 30px;
	font-size: 14px;
	border-radius: 5px;
	color: #fff;
}

.btn-blue{
	background: #09c;
}

.btn-green{
	background: #4a5;
}

.img-set-holder{
	text-align: center;
}

.img-set{
	height: 100px;
	padding: 5px;
	border-radius: 3px;
	margin: 0 5px;
	background: #fff;
}

#postTitle,
#postContent{
	width: 100%;
	border-radius: 3px;
	padding: 10px;
}


#postTitle{
	margin-bottom: 20px;
}

#postContent{
	height: 100px;
	margin-bottom: 20px;
}


/*--------------------------------------dashboard*/

#postCircle,
#imageCircle{
	height: 70px;
	width: 70px;
	line-height: 70px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	float: left;
	font-size: 35px;
}

#postCircle{
	background: #4c5;
}

#imageCircle{
	background: #09c;
}

.inline-blocked{
	display: inline-block;
	text-align: center;
	position: relative;
	top: 15px;
	left: 20px;
	font-size: 20px;
}

.dashColumn{
	width: 32%;
	height: 100px;
	display: inline-block;
}

#mainDashboard{
	padding-top: 20px;
}

/*---------------------------design*/
span{
	color: #1BD0F1;
	text-shadow: 2px 2px 2px #000;
}

p{
	font-size: 15px
}
